rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'habits' collection
    match /habits/{habitId} {
      // Allow a user to create a habit if the new document's userId matches their own UID
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      // Allow a user to read, update, or delete a habit if the existing document's userId matches their own UID
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
